<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SudokuSolver!</title>
  </head>
  <body>
    <h1>Sudoku Solver :)</h1>
    <p>
        <ul>
            <li>Input your Sudoku below</li>
            <li>Leave out the spaces that are blank</li>
            <li>Press Solve</li>
        </ul>
    </p>
    <p>
        Image input compatibility coming soon !!!
    </p>
   <div>
        <form method="POST" action="../submit-form">
            <input type="number" name="ar[]" />
            <input type="number" name="ar[]" />
            <input type="number" name="ar[]" />
            <input type="number" name="ar[]" />
            <input type="submit" />
          </form>
    </div>

    <div>
      <style>
        table { border-collapse: collapse; font-family: Calibri, sans-serif; }
        colgroup, tbody { border: solid medium; }
        td { border: solid thin; height: 2.8em; width: 2.8em; text-align: center; padding: 0; }
        
      </style>
      <form method="POST" action="../submit-form"></form>
      <table>
        <caption>Sudoku of the day</caption>
        <colgroup><col><col><col>
        <colgroup><col><col><col>
        <colgroup><col><col><col>
        <tbody>
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
        <tbody>
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
        <tbody>
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
         <tr> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" /> <td><input type="number" min="0" max="9" name="array[]" />  <td><input type="number" min="0" max="9" name="array[]" />
      </table>
      <div><input type="submit"/></div>
    </form>
    </div>
  </body>
</html>
